server:
  shutdown: graceful # 서버 종료시 동작 정의
  port: 8080 # 기본 포트 설정
  error: # messagesource 로 exception 메시지를 관리하기 위해서
    include-binding-errors: never
    include-exception: false
    include-message: never
    include-stacktrace: never

# profiles 설정
spring:
  profiles:
    active:
      - ${ACTIVE_PROFILE}
    include:
      - db
      - security
      - cloud
  # ResourceHandler 설정 (Static Resource Mapping)
  web:
    resources:
      add-mappings: true
  # MessageSource 설정
  messages:
    encoding: UTF-8
    basename: messages/exceptions/exception, messages/notification/messages

  servlet:
    multipart:
      max-request-size: 10MB
      max-file-size: 10MB

  slack:
    webhook: ${SLACK_WEBHOOK}

  task:
    scheduling:
      pool:
        size: 2

# front server
front:
  server: "https://kkini.vercel.app"

# Actuator 설정
management:
  endpoints:
    web:
      exposure:
        include: '*'

# P6spy 설정
decorator:
  datasource:
    p6spy:
      enable-logging: true

# sentry 설정
sentry:
  dsn: ${SENTRY_DSN}
  traces-sample-rate: 1.0